@using System.Text.Json
@using AsyncStreams.Web.Model

@page "/movies"
@inject HttpClient HttpClient
@implements IDisposable

<PageTitle>Movies</PageTitle>

<p>This page demonstrates the Blazor Server retrieving data consuming an API that returns a stream.</p>

<button class="btn btn-primary" @onclick="FetchMovies">Star fetching</button>

@if (movies?.Any() == false)
{
    <h4 class="pt-4">Loading...</h4>
}
else if (movies?.Any() == true)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Year</th>
                <th>Rating</th>
                <th>Runtime (min)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in movies)
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.Title</td>
                    <td>@m.Year</td>
                    <td>@m.Rating</td>
                    <td>@m.RuntimeInMinutes</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<MovieResponse>? movies;
    private CancellationTokenSource? cts;

    private async Task FetchMovies()
    {
        movies = new List<MovieResponse>();

        StateHasChanged();

        cts = new CancellationTokenSource();

        var response = await HttpClient.GetAsync("/api/movie", HttpCompletionOption.ResponseHeadersRead, cts.Token);

        var responseStream = await response.Content.ReadAsStreamAsync(cts.Token);
        var moviesAsyncEnumerable = JsonSerializer.DeserializeAsyncEnumerable<MovieResponse>(responseStream, new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true,
                DefaultBufferSize = 5
            },
            cts.Token);

        await foreach (var m in moviesAsyncEnumerable)
        {
            movies.Add(m!);
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        cts?.Cancel();
    }
}
